/* styles.css */

.valign-wrapper {
    height: 300px;
    overflow: hidden;
    background-color: black;
}

.card-image > div {
    width: 100%;
}

.card-content {
    height: 250px;
    overflow: auto;
}

img.responsive-img {
    width: 100%;
    height: auto;
}

body {
    background-image: url('background_motif.png');
      background-repeat: repeat;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

h1.center-align {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #333;
}



